spring:
  datasource:
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    #url: jdbc:p6spy:mysql://localhost:3306/payper_v2?useSSL=false&serverTimezone=Asia/Seoul
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

jwt:
  secret-key: "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789ABCD"
  refresh-token:
    secret-key: "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789ABCD"
    exptime: 23h
  access-token:
    exptime: 8h

management:
  server:
    port: 9090
    address: 0.0.0.0
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    com.optpractice: debug

server:
  tomcat:
    mbeanregistry:
      enabled: true